@inherits LayoutComponentBase
<div class="main">
    <NavMenu Login="@Authenticate.IsLogin" />

    <div class="content">
		<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.BottomRight"
		Timeout="2" RemoveToastsOnNavigation="true" ShowCloseButton="true" ShowProgressBar="true" />
		@Body
	</div>

    <div class="footer no-print" style="z-index: 9999;">
    <div class="col-12 row p-0 m-0 text-center">
        <div class="col-12 p-0">
                <label>
                    ©2023 <label class="pl-3">
                        HEALTH CARE
                        <label class="pl-3">
                            ALL RIGHTS RESERVED
                            <label class="pl-3">
                                LAST UPDATED: 5/9/2023 11:14 PM
                        </label>
                    </label>
                </label>
            </label>
        </div>
    </div>
</div>
</div>
