@using Syncfusion.Blazor.Buttons
<nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark">
    <NavLink class="navbar-brand" href="/">HEALTH CARE</NavLink>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            @if(Login)
            {
                <li class="nav-item">
                    <NavLink class="nav-link" href="login">HOME</NavLink>
                </li>
            }
        </ul>
        <ul class="navbar-nav">
            <li id="NavBackButton" class="nav-item">
                @if(!Login)
                {
                    <NavLink class="nav-link" href="loginAccount">LOGIN</NavLink>
                }
                else
                {   
                    <NavLink class="nav-link text-white" @onclick="Visiblity" style="cursor:pointer">
                            <img src="/Icons//doctor.png" class="profile-image" alt="Profile Picture">
                    </NavLink>
                }
            </li>
        </ul>
    </div>
</nav>

<div id="profileMenu" class="profile-menu" style="@(Visible ? "visibility:visible": "visibility:hidden" )">
    <SfButton class="menu-button" OnClick="NavigateToProfile">Your Profile</SfButton>
    <SfButton class="menu-button">History</SfButton>
    <SfButton class="menu-button">Logout</SfButton>
</div>