<nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark">
    <NavLink class="navbar-brand" href="/">HEALTH CARE</NavLink>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            @if(Login)
            {
                <li class="nav-item">
                    <NavLink class="nav-link" href="login">HOME</NavLink>
                </li>
            }
        </ul>
        <ul class="navbar-nav">
            <li id="NavBackButton" class="nav-item">
                @if(!Login)
                {
                    <NavLink class="nav-link" href="loginAccount">LOGIN</NavLink>
                }
                else
                {   
                    <NavLink class="nav-link text-white" @onclick="GoBack" style="cursor:pointer">
                            <img src="/Icons//doctor.png" class="profile-image" alt="Profile Picture">
                    </NavLink>
                }
            </li>
        </ul>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="ViewTaskByEmployeePopupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document" style="max-width: 100%; width:99%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info" id="exampleModalLabel">VIEW TASK BY TASKTYPE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (IsClick)
                {
                    <ViewTaskByEmployeePopup />
                }
            </div>
        </div>
    </div>
</div>
