.cardhover[b-pzbfhscs16] {
    border-color: gray;
    transition: .5s;
    box-shadow: rgba(128, 128, 128, 0.43) 3px 3px;
    color: black;
}

.cardhover:hover[b-pzbfhscs16] {
    border-color: blue;
    transition: .7s;
    box-shadow: rgba(128, 128, 128, 1) 5px 5px;
    color: blue;
}

.link-outline-primary[b-pzbfhscs16] {
    color: blue;
    border-color: blue;
    border: 2px solid blue;
    transition: .5s;
}

.link-outline-primary:hover[b-pzbfhscs16] {
    color: white;
    background-color: #1b6ec2;
    border-color: blue;
    border: 2px solid blue;
    transition: .5s;
    font-weight: bold;
}

.e-grid .e-headercell[b-pzbfhscs16] {
    background-color: #24202C;
}

.e-grid .e-altrow[b-pzbfhscs16] {
    background-color: #C6EEFF;
}

.e-grid .e-detailindentcell[b-pzbfhscs16] {
    background-color: #EB711D;
}

.e-grid e-detailrowexpand[b-pzbfhscs16] {
    background-color: #EB711D;
}
