@page "/login9"
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Inputs

<br />
<br />
<div class="text-center standard-header-style font-weight-bold">
    <h3>Patient SignUp</h3>
</div>

<div class="container-fluid p-3">
    <div class="row col-12">
        <div class="col-lg-3 col-md-1"></div>
        <div class="col-lg-6 box col-md-10 p-5 mt-5">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold" style="font-size:22px;">Patient Information</label>
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold">Full Name:</label>
                        <SfTextBox CssClass="mandatory" TValue="string" />
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold">Email Address:</label>
                        <SfTextBox CssClass="mandatory" TValue="string" />
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold">Password:</label>
                        <SfTextBox Type="InputType.Password" CssClass="mandatory" TValue="string" />
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold">Contact Information:</label>
                        <SfTextBox TValue="string" />
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold">Date of Birth:</label>
                        <SfDatePicker TValue="DateTime" />
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold">Gender:</label>
                        <SfComboBox TValue="string" TItem="string"
                                    PopupHeight="400px"
                                    CssClass="mandatory"
                                    FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                                    AllowFiltering="true">
                            <ComboBoxEvents TValue="string" TItem="string"></ComboBoxEvents>
                        </SfComboBox>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="control_wrapper text-right">
                        <!-- Use text-right to align to the right -->
                        <button type="button" class="btn btn-danger w-25 p-1" style="font-size: 20px;">SIGN IN</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-1"></div>
    </div>
</div>

