@page "/resetPassword"
@using HealthCare.Data.Entity;
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Inputs


<div class="col-12 navbar navbar-expand screenLabel position-fixed top-row m-0 p-0 screenLabelStyle" style="margin-top: 55px !important;">
    <div class="col-12 m-0 p-0" style="font-size: 18px; text-align: left;"><span style="float: left">Me</span></div>
</div>
<br />
<br />
<br />
<div class="text-center standard-header-style font-weight-bold">
    <h3>Passwprd Reset</h3>
</div>

<div class="container-fluid p-3">
    <div class="row col-12">
        <div class="col-lg-3 col-md-1"></div>
        <div class="col-lg-6 box col-md-10 p-5 mt-5">
            <div class="row">
                <div class="col-6 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold">Email Address:</label>
                        <SfTextBox  TValue="string" @bind-Value="@Email" />
                    </div>
                </div>
                <div class="col-6 mt-5">
                    <label class="p-0 m-0 font-weight-bold" style="color:red; cursor: pointer;" @onclick="SendEmail">Click to send code</label>
                </div>
                <div class="col-6 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold">6 Digit Code: </label>
                        <SfTextBox Type="InputType.Password" CssClass="mandatory" TValue="string" @bind-Value="@Code" />
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold">New Password: </label>
                        <SfTextBox Type="InputType.Password" CssClass="mandatory" TValue="string" @bind-Value="@NewPassword" />
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="control_wrapper">
                        <label class="p-0 m-0 font-weight-bold">Confirm Password:</label>
                        <SfTextBox TValue="string" @bind-Value="@ConfirmPassword" />
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="control_wrapper text-right">
                        <!-- Use text-right to align to the right -->
                        <Syncfusion.Blazor.Buttons.SfButton type="button" class="btn btn-danger w-25 p-1" style="font-size: 20px;" @onclick="PasswordReset">SAVE</Syncfusion.Blazor.Buttons.SfButton>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-1"></div>
    </div>
</div>

