@page  "/accountChoice"


<div class="text-center standard-header-style font-weight-bold">
    <h3>Account Choice</h3>
</div>

<div class="row1-container-style">
    <div class="newMenu-box newMenu-box-down green-menu-box" @onclick="@(() => _navigationManager.NavigateTo("/doctorSignUp"))">
        <h2>DOCTOR</h2>
        <img class="menu-image" src="/Icons//doctor.png" alt="">
    </div>

    <div class="newMenu-box newMenu-box-down blue-menu-box" @onclick="@(() => _navigationManager.NavigateTo("/patientSignUp"))">
        <h2>PATIENTS</h2>
        <img class="menu-image" src="/Icons/patient.png" alt="">
    </div>
</div>

@code {

}
