@page "/doctorDashBoard/{UserId}"

@using Syncfusion.Blazor.Inputs

<style>

    .row {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }

</style>

<div class="col-12 navbar navbar-expand screenLabel position-fixed top-row m-0 p-0 screenLabelStyle" style="margin-top: 55px !important;">
    <div class="col-12 m-0 p-0" style="font-size: 18px; text-align: left;"><span style="float: left">Me</span></div>
</div>


<div class="container-fluid p-3">
    <div class="header">
        <h3>Find your doctor</h3>
    </div>
    <div class="search-box">
        <SfTextBox placeholder="Search for a patient" @bind-Value="@SearchText" @onchange="@(() => DoctorSearch())" />
    </div>
    @if (Appointments?.Count() <= 0)
    {
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="text-center standard-header-style font-weight-bold">
            <h3>No Appointments For Today</h3>
        </div>
    }
    else
    {
        <div class=" row">
            @if (User != null)
            {
                @for (int i = 0; i < col_1; i++)
                {
                    <div>
                        <HealthCare.UI.Pages.Components.PatientCard User="User[i]" IsCheckUpButtonShown="true"></HealthCare.UI.Pages.Components.PatientCard>
                    </div>
                }
                @for (int i = col_1; i <col_2; i++)
                {
                    <div>
                        <HealthCare.UI.Pages.Components.PatientCard User="User[i]" IsCheckUpButtonShown="true"></HealthCare.UI.Pages.Components.PatientCard>
                    </div>
                }
                @for (int i = col_2; i < col_3; i++)
                {
                    <div>
                        <HealthCare.UI.Pages.Components.PatientCard User="User[i]" IsCheckUpButtonShown="true"></HealthCare.UI.Pages.Components.PatientCard>
                    </div>
                }
                @for (int i = col_3; i < col_4; i++)
                {
                    <div>
                        <HealthCare.UI.Pages.Components.PatientCard User="User[i]" IsCheckUpButtonShown="true"></HealthCare.UI.Pages.Components.PatientCard>
                    </div>
                }
            }
        </div>
    }
</div>