@page "/"
@using HealthCare.Data.Entity;
@using HealthCare.ViewModels;

@inherits HealthCare.UI.Pages.IndexModel

<style>
    img {
        width: 2048px;
        height: 860px;
    }
</style>

<div class="col-12 navbar navbar-expand screenLabel position-fixed top-row m-0 p-0 screenLabelStyle" style="margin-top: 55px !important;">
    <div class="col-12 m-0 p-0" style="font-size: 18px; text-align: left;"><span style="float: left">Me</span></div>
</div>
<div class="m-0 p-0">
    <img src="/Icons//MyFrontPage.png" alt="Profile Picture">
</div>