@page "/userProfile"
<h1>Welcome, Hammad</h1>

<div>
    <h2>Personal Information</h2>
    
    <p><strong>User Name: </strong> Hammad Ejaz</p>
    <p><strong>Email: </strong> hammadejaz2021@gmail.com</p>
    <p><strong>Date of Birth: </strong>20-04-2003 </p>
    <p><strong>Contact: </strong> 03104799295</p>
    <p><strong>Gender: </strong> Male</p>
    <!-- Add other personal information fields as needed -->
</div>

<div>

    <h2>History</h2>
    
    <p><strong>Medical History: </strong></p>
    <p><strong>Button to Show History </strong></p>
    <p><strong>Prescription History: </strong></p>
    <p><strong>Button to Show Prescription</strong></p>
    <!-- Add other address fields as needed -->
</div>
