@page "/login1"

    <style>

    </style>
<body>
    <div class="doctor-card">
        <h3>Doctor Card</h3>

        <div class="doctor-container">
            <div>
                <img src="path/to/doctor-image.jpg" alt="Doctor Image" style="width: 200px; height: 200px;" />
            </div>
            <div class="doctor-info">
                <label><strong>Doctor Name:</strong></label>
                <p>John Doe</p>

                <label><strong>Specialization:</strong></label>
                <p>Cardiologist</p>

                <label><strong>Experience:</strong></label>
                <p>10 years</p>

                <label><strong>Patients Treated:</strong></label>
                <p>500</p>
            </div>
        </div>

        <div class="availability-container">
            <div>
                <label>Next Availability:</label>
                <label>Time: 10:00 AM - 12:00 PM</label>
            </div>
            <button class="book-now-btn" style="height: 50px;">Book Now</button>
        </div>
    </div>
</body>


@code {

}
